---

- name: Ensure ComfyUI user exists
  user:
    name: "{{ comfy_user }}"
    shell: /bin/bash
    create_home: yes


# ---- Clone / update ComfyUI ----
- name: Clone ComfyUI repository
  git:
    repo: "{{ comfyui_repo }}"
    dest: "{{ comfy_dir }}"
    version: "{{ comfyui_version }}"
    update: yes
  become: true

  become_user: "{{ comfy_user }}"

# ---- Python virtual environment ----
- name: Create Python virtualenv
  #command: python3 -m venv venv
  command: "/usr/bin/python3.11 -m venv venv"
  args:
    chdir: "{{ comfy_dir }}"
    creates: "{{ comfy_dir }}/venv"
  become: true
  become_user: "{{ comfy_user }}"

- name: Upgrade pip in venv
  pip:
    name: pip
    state: latest
    virtualenv: "{{ comfy_dir }}/venv"
    virtualenv_command: "/usr/bin/python3.11 -m venv"

- name: Install ComfyUI Python requirements
  pip:
    requirements: "{{ comfy_dir }}/requirements.txt"
    virtualenv: "{{ comfy_dir }}/venv"
    virtualenv_command: "/usr/bin/python3.11 -m venv"


# ---- Directory structure ----
- name: Ensure ComfyUI model directories exist
  file:
    path: "{{ comfy_dir }}/models/{{ item }}"
    state: directory
    owner: "{{ comfy_user }}"
    group: "{{ comfy_user }}"
    mode: "0755"
  loop:
    - checkpoints
    - vae
    - loras
    - controlnet
    - clip
    - upscale_models

- name: Ensure custom_nodes directory exists
  file:
    path: "{{ comfy_dir }}/custom_nodes"
    state: directory
    owner: "{{ comfy_user }}"
    group: "{{ comfy_user }}"
    mode: "0755"

- name: Install ComfyUI-Manager custom node
  git:
    repo: https://github.com/ltdrdata/ComfyUI-Manager.git
    dest: "{{ comfy_dir }}/custom_nodes/comfyui-manager"
    version: main
    update: yes
  become_user: "{{ comfy_user }}"

- name: Install ComfyUI-WanAnimatePreprocess custom node
  git:
    repo: https://github.com/kijai/ComfyUI-WanAnimatePreprocess.git
    dest: "{{ comfy_dir }}/custom_nodes/ComfyUI-WanAnimatePreprocess"
    version: main
    update: yes
  become_user: "{{ comfy_user }}"

- name: Install dependencies for WanAnimate (CPU-safe)
  pip:
    name: 
      - onnx
      - onnxruntime  # Use 'onnxruntime-gpu' on your "muscle" server
    virtualenv: "{{ comfy_dir }}/venv"
    virtualenv_command: "/usr/bin/python3.11 -m venv"
  become: true
  become_user: "{{ comfy_user }}"