---
# ComfyUI main tasks
# -------------------------------
# Dependencies
# -------------------------------
- name: Ensure required OS packages
  apt:
    name:
      - git
      - build-essential
      - libssl-dev
      - python3-venv
      - python3-pip
      - curl
      - wget
    update_cache: yes
  become: true

#- name: Add NVIDIA CUDA GPG key
#  get_url:
#    url: https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64/cuda-archive-keyring.gpg
#    dest: /usr/share/keyrings/cuda-archive-keyring.gpg
#  become: true

#- name: Add NVIDIA CUDA Repository
#  apt_repository:
#    repo: "deb [signed-by=/usr/share/keyrings/cuda-archive-keyring.gpg] https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64/ /"
#   state: present
#  become: true

#- name: Install CUDA Toolkit and Drivers
#  apt:
#    name:
#      - cuda-toolkit-12-4  # Specifically 12.4 is very stable for ML
#      - nvidia-driver-550   # Matches modern CUDA 12
#      - nvidia-utils-550     # <--- Add this to get the 'nvidia-smi' tool
#      - libcudnn9-cuda-12    # <--- Highly recommended for Deep Learning performance
#    update_cache: yes
#  become: true

#- name: Install ComfyUI
#  import_tasks: install.yaml





